{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/style.css"/>
{% endblock %}

{% block title %}
	<title>Site RH</title>
{% endblock %}

{% block main %}
	<main>
		<section>
			<h2>Formulaire d'Inscription</h2>
			<form action="" method="post">
				<div>
					<label for="raisonSociale">Votre Raison Sociale</label>
					<input type="text" id="raisonSociale" name="raisonSociale">
				</div>
				<div>
					<label for="siret">Votre Siret</label>
					<input type="text" id="siret" name="siret">
				</div>
				<div>
					<label for="password">Votre Mot de Passe</label>
					<input type="password" id="password" name="password">
				</div>
				<div>
					<label for="confirmPassword">Confirmez votre Mot de Passe</label>
					<input type="password" id="confirmPassword" name="confirmPassword">
				</div>
				{% if error %}
    <div class="error-message">
        {% if error.message %}
            <p>{{ error.message }}</p>
        {% endif %}
        {% if error.raisonSociale %}
            <p>{{ error.raisonSociale }}</p>
        {% endif %}
        {% if error.siret %}
            <p>{{ error.siret }}</p>
        {% endif %}
        {% if error.password %}
            <p>{{ error.password }}</p>
        {% endif %}
        {% if error.confirmPassword %}
            <p>{{ error.confirmPassword }}</p>
        {% endif %}
    </div>
{% endif %}

				<button>S'Inscrire</button>
			</form>
		</section>
	</main>
{% endblock %}
